In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns
import re
import os

In [2]:
data = pd.read_csv(r'D:\models\data\urldata.csv')

In [3]:
data.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [4]:
data = data.drop(["Unnamed: 0"],axis = 1)

In [5]:
data.head()

                         url   label  result
0     https://www.google.com  benign       0
1    https://www.youtube.com  benign       0
2   https://www.facebook.com  benign       0
3      https://www.baidu.com  benign       0
4  https://www.wikipedia.org  benign       0

In [6]:
data.shape

(450176, 3)

In [8]:
from urllib.parse import urlparse
from tld import get_tld
import os.path

In [9]:
data['url_length'] = data['url'].apply(lambda i: len(str(i)))

In [10]:
data['hostname_length'] = data['url'].apply(lambda i: len(urlparse(i).netloc))

In [11]:
data['path_length'] = data['url'].apply(lambda i: len(urlparse(i).path))

In [12]:
def fd_length(url):
    urlpath= urlparse(url).path
    try:
        return len(urlpath.split('/')[1])
    except:
        return 0

data['fd_length'] = data['url'].apply(lambda i: fd_length(i))

In [13]:
data.head()

,url,label,result,url_length,hostname_length,path_length,fd_length
0,https://www.google.com,benign,0,22,14,0,0
1,https://www.youtube.com,benign,0,23,15,0,0
2,https://www.facebook.com,benign,0,24,16,0,0
3,https://www.baidu.com,benign,0,21,13,0,0
4,https://www.wikipedia.org,benign,0,25,17,0,0

In [14]:
data['tld'] = data['url'].apply(lambda i: get_tld(i,fail_silently=True))
def tld_length(tld):
    try:
        return len(tld)
    except:
        return -1

data['tld_length'] = data['tld'].apply(lambda i: tld_length(i))

In [15]:
data = data.drop(['tld'],axis = 1)

In [16]:
data.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length
0,https://www.google.com,benign,0,22,14,0,0,3
1,https://www.youtube.com,benign,0,23,15,0,0,3
2,https://www.facebook.com,benign,0,24,16,0,0,3
3,https://www.baidu.com,benign,0,21,13,0,0,3
4,https://www.wikipedia.org,benign,0,25,17,0,0,3

In [17]:
data['count-'] = data['url'].apply(lambda i: i.count('-'))

In [18]:
data['count@'] = data['url'].apply(lambda i: i.count('@'))

In [19]:
data['count?'] = data['url'].apply(lambda i: i.count('?'))

In [20]:
data['count%'] = data['url'].apply(lambda i: i.count('%'))

In [21]:
data['count.'] = data['url'].apply(lambda i: i.count('.'))

In [22]:
data['count='] = data['url'].apply(lambda i: i.count('='))

In [23]:
data['count_http'] = data['url'].apply(lambda i: i.count('http'))

In [24]:
data['count_https'] = data['url'].apply(lambda i: i.count('https'))

In [25]:
data['count_www'] = data['url'].apply(lambda i: i.count('www'))

In [26]:
def digit_count(url):
    digits = 0
    for i in url:
        if i.isnumeric():
            digits = digits + 1
    return digits
data['count-digits']= data['url'].apply(lambda i: digit_count(i))

In [27]:

def letter_count(url):
    letters = 0
    for i in url:
        if i.isalpha():
            letters = letters + 1
    return letters
data['count-letters']= data['url'].apply(lambda i: letter_count(i))

In [28]:
def no_of_dir(url):
    urldir = urlparse(url).path
    return urldir.count('/')
data['count_dir'] = data['url'].apply(lambda i: no_of_dir(i))

In [29]:
data.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length,count-,count@,count?,count%,count.,count=,count_http,count_https,count_www,count-digits,count-letters,count_dir
0,https://www.google.com,benign,0,22,14,0,0,3,0,0,0,0,2,0,1,1,1,0,17,0
1,https://www.youtube.com,benign,0,23,15,0,0,3,0,0,0,0,2,0,1,1,1,0,18,0
2,https://www.facebook.com,benign,0,24,16,0,0,3,0,0,0,0,2,0,1,1,1,0,19,0
3,https://www.baidu.com,benign,0,21,13,0,0,3,0,0,0,0,2,0,1,1,1,0,16,0
4,https://www.wikipedia.org,benign,0,25,17,0,0,3,0,0,0,0,2,0,1,1,1,0,20,0

In [30]:
def shortening_service(url):
    match = re.search('bit\.ly|goo\.gl|shorte\.st|go2l\.ink|x\.co|ow\.ly|t\.co|tinyurl|tr\.im|is\.gd|cli\.gs|'
                      'yfrog\.com|migre\.me|ff\.im|tiny\.cc|url4\.eu|twit\.ac|su\.pr|twurl\.nl|snipurl\.com|'
                      'short\.to|BudURL\.com|ping\.fm|post\.ly|Just\.as|bkite\.com|snipr\.com|fic\.kr|loopt\.us|'
                      'doiop\.com|short\.ie|kl\.am|wp\.me|rubyurl\.com|om\.ly|to\.ly|bit\.do|t\.co|lnkd\.in|'
                      'db\.tt|qr\.ae|adf\.ly|goo\.gl|bitly\.com|cur\.lv|tinyurl\.com|ow\.ly|bit\.ly|ity\.im|'
                      'q\.gs|is\.gd|po\.st|bc\.vc|twitthis\.com|u\.to|j\.mp|buzurl\.com|cutt\.us|u\.bb|yourls\.org|'
                      'x\.co|prettylinkpro\.com|scrnch\.me|filoops\.info|vzturl\.com|qr\.net|1url\.com|tweez\.me|v\.gd|'
                      'tr\.im|link\.zip\.net',
                      url)
    if match:
        return -1
    else:
        return 1
data['short_url'] = data['url'].apply(lambda i: shortening_service(i))

In [31]:
def having_ip_address(url):
    match = re.search(
        '(([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.'
        '([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\/)|'  # IPv4
        '((0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\/)' # IPv4 in hexadecimal
        '(?:[a-fA-F0-9]{1,4}:){7}[a-fA-F0-9]{1,4}', url)  # Ipv6
    if match:
        
        return -1
    else:
       
        return 1
data['use_of_ip'] = data['url'].apply(lambda i: having_ip_address(i))

In [32]:
data.head()

,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length,count-,count@,...,count.,count=,count_http,count_https,count_www,count-digits,count-letters,count_dir,short_url,use_of_ip
0,https://www.google.com,benign,0,22,14,0,0,3,0,0,...,2,0,1,1,1,0,17,0,1,1
1,https://www.youtube.com,benign,0,23,15,0,0,3,0,0,...,2,0,1,1,1,0,18,0,1,1
2,https://www.facebook.com,benign,0,24,16,0,0,3,0,0,...,2,0,1,1,1,0,19,0,1,1
3,https://www.baidu.com,benign,0,21,13,0,0,3,0,0,...,2,0,1,1,1,0,16,0,1,1
4,https://www.wikipedia.org,benign,0,25,17,0,0,3,0,0,...,2,0,1,1,1,0,20,0,1,1

In [33]:
data.columns

Index(['url', 'label', 'result', 'url_length', 'hostname_length',
       'path_length', 'fd_length', 'tld_length', 'count-', 'count@', 'count?',
       'count%', 'count.', 'count=', 'count_http', 'count_https', 'count_www',
       'count-digits', 'count-letters', 'count_dir', 'short_url', 'use_of_ip'],
      dtype='object')

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

from sklearn.tree import DecisionTreeClassifier

from sklearn.linear_model import LogisticRegression

In [36]:
x = data[['hostname_length',
       'path_length', 'fd_length', 'tld_length', 'count-', 'count@', 'count?',
       'count%', 'count.', 'count=', 'count_http','count_https', 'count_www', 'count-digits',
       'count-letters', 'count_dir', 'use_of_ip']]

In [37]:
y = data['result']

In [38]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=42)

In [39]:
dt_model = DecisionTreeClassifier()
dt_model.fit(x_train,y_train)

dt_predictions = dt_model.predict(x_test)
accuracy_score(y_test,dt_predictions)

0.9954271969129612

In [40]:
print(confusion_matrix(y_test,dt_predictions))

[[241228    724]
 [   717  72455]]

In [41]:
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

rfc_predictions = rfc.predict(x_test)
accuracy_score(y_test, rfc_predictions)

0.997274088930072

In [42]:
print(confusion_matrix(y_test,rfc_predictions))

[[241667    285]
 [   574  72598]]

In [ ]:
log_model = LogisticRegression()
log_model.fit(x_train,y_train)

log_predictions = log_model.predict(x_test)
accuracy_score(y_test,log_predictions)

In [44]:
print(confusion_matrix(y_test,log_predictions))

[[241389    563]
 [   781  72391]]

In [75]:
from sklearn.base import BaseEstimator, TransformerMixin

class UrlTransformer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def fdLength(url):
      urlpath= urlparse(url).path
      try:
        return len(urlpath.split('/')[1])
      except:
        return 0  

    def tldLength(tld):
      try:
        return len(tld)
      except:
        return -1

    def digitCount(url):
      digits = 0
      for i in url:
          if i.isnumeric():
              digits = digits + 1
      return digits
    def letterCount(url):
      letters = 0
      for i in url:
          if i.isalpha():
              letters = letters + 1
      return letters

    def no_of_dirs(url):
      urldir = urlparse(url).path
      return urldir.count('/')

    def shorteningService(url):
      match = re.search('bit\.ly|goo\.gl|shorte\.st|go2l\.ink|x\.co|ow\.ly|t\.co|tinyurl|tr\.im|is\.gd|cli\.gs|'
                      'yfrog\.com|migre\.me|ff\.im|tiny\.cc|url4\.eu|twit\.ac|su\.pr|twurl\.nl|snipurl\.com|'
                      'short\.to|BudURL\.com|ping\.fm|post\.ly|Just\.as|bkite\.com|snipr\.com|fic\.kr|loopt\.us|'
                      'doiop\.com|short\.ie|kl\.am|wp\.me|rubyurl\.com|om\.ly|to\.ly|bit\.do|t\.co|lnkd\.in|'
                      'db\.tt|qr\.ae|adf\.ly|goo\.gl|bitly\.com|cur\.lv|tinyurl\.com|ow\.ly|bit\.ly|ity\.im|'
                      'q\.gs|is\.gd|po\.st|bc\.vc|twitthis\.com|u\.to|j\.mp|buzurl\.com|cutt\.us|u\.bb|yourls\.org|'
                      'x\.co|prettylinkpro\.com|scrnch\.me|filoops\.info|vzturl\.com|qr\.net|1url\.com|tweez\.me|v\.gd|'
                      'tr\.im|link\.zip\.net',
                      url)
      if match:
          return -1
      else:
          return 1   
    def has_ip_address(url):
      match = re.search(
        '(([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.'
        '([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\/)|'  # IPv4
        '((0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\/)' # IPv4 in hexadecimal
        '(?:[a-fA-F0-9]{1,4}:){7}[a-fA-F0-9]{1,4}', url)  # Ipv6
      if match:
        
          return -1
      else:
       
          return 1
    def transform(self,y):
        
        X = pd.DataFrame({'url': [y]})
        X['url_length'] = X['url'].apply(lambda i: len(str(i)))
        X['hostname_length'] = X['url'].apply(lambda i: len(urlparse(i).netloc))
        X['path_length'] = X['url'].apply(lambda i: len(urlparse(i).path))
        X['fd_length'] = X['url'].apply(lambda i: UrlTransformer.fdLength(i))
        X['tld'] = X['url'].apply(lambda i: get_tld(i,fail_silently=True))
        X['tld_length'] = X['tld'].apply(lambda i: UrlTransformer.tldLength(i))
        X['count-'] = X['url'].apply(lambda i: i.count('-'))
        X['count@'] = X['url'].apply(lambda i: i.count('@'))
        X['count?'] = X['url'].apply(lambda i: i.count('?'))
        X['count%'] = X['url'].apply(lambda i: i.count('%'))
        X['count.'] = X['url'].apply(lambda i: i.count('.'))
        X['count='] = X['url'].apply(lambda i: i.count('='))
        X['count_http'] = X['url'].apply(lambda i: i.count('http'))
        X['count_https'] = X['url'].apply(lambda i: i.count('https'))
        X['count_www'] = X['url'].apply(lambda i: i.count('www'))
        X['count-digits'] = X['url'].apply(lambda i: UrlTransformer.digitCount(i))
        X['count-letters'] = X['url'].apply(lambda i: UrlTransformer.letterCount(i))
        X['count_dir'] = X['url'].apply(lambda i: UrlTransformer.no_of_dirs(i))
        X['short_url'] = X['url'].apply(lambda i: UrlTransformer.shorteningService(i))
        X['use_of_ip'] = X['url'].apply(lambda i: UrlTransformer.has_ip_address(i))
        final = X[['hostname_length',
       'path_length', 'fd_length', 'tld_length', 'count-', 'count@', 'count?',
       'count%', 'count.', 'count=', 'count_http','count_https', 'count_www', 'count-digits',
       'count-letters', 'count_dir', 'use_of_ip']]
        return final

In [84]:
transformation_func = UrlTransformer()

In [85]:
test_url = ['https://www.google.com','https://www.interviewbit.com/java-interview-questions/','www.google.com','https://www.goooooogle.com']
test_url.append('https://www.phishing.org/cs/c/?cta_guid=f93da5fb-a05c-4ebd-a56a-21b4f51dcc73&signature=AAH58kF9RdPE1doajIyamUzTaU21SP2WAQ&pageId=4968608756&placement_guid=94c17516-ec6b-4b4d-8023-afff2d561408&click=1ccdd26b-2f3b-4d07-ace3-1dc0f58a5ce5&hsutk=9eb17700c83c5bc1acfab4c2da9f04c3&canon=https%3A%2F%2Fwww.phishing.org%2Fphishing-examples&portal_id=241394&redirect_url=APefjpGhRtbvC_zOq-4MpMcyG1JoFd5A-7Em_4JpIj9OfvvOeT7jlXmKHNqQREsxcGe-uwwk2uGi-3ngm14QrPuKkDZl4Ln4dAjgdf9rchvuJX6TsOR6BTYGtjZZQ32i3P0eKuJzLZCp&__hstc=59035826.9eb17700c83c5bc1acfab4c2da9f04c3.1681833775670.1681833775670.1681833775670.1&__hssc=59035826.1.1681833775671&__hsfp=3352792878&contentType=standard-page')
test_url.append('http://theteflacademy.co.uk/')
test_url.append('http://www.alliance4media.com')
test_url.append('https://track.adtrue.com')
test_url.append('https://www.youtube.com/watch?v=kEmnkUw0NTs')

In [87]:
for i in test_url:
    dframe =transformation_func.transform(i)
    print(rfc.predict(dframe))

[0]
[0]
[1]
[0]
[1]
[1]
[1]
[1]
[0]

In [ ]:
! pip install dill

In [92]:
import dill

In [93]:
with open(r'artifacts\urlTransformation.pkl', "wb") as file_obj:
            dill.dump(transformation_func, file_obj)

In [94]:
with open(r'artifacts\urlModel.pkl', "wb") as file_obj:
            dill.dump(rfc, file_obj)

In [95]:
with open(r'artifacts\urlTransformation.pkl', 'rb') as f:
    
    transf = dill.load(f)

In [96]:
d = transf.transform('https://track.adtrue.com')
d

,hostname_length,path_length,fd_length,tld_length,count-,count@,count?,count%,count.,count=,count_http,count_https,count_www,count-digits,count-letters,count_dir,use_of_ip
0,16,0,0,3,0,0,0,0,2,0,1,1,0,0,19,0,1

In [97]:
with open(r'artifacts\urlModel.pkl', 'rb') as f:
    
    modurl = dill.load(f)

In [98]:
modurl.predict(d)

array([1], dtype=int64)